@keyframes slide-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes slide-right {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .animate-slide-left {
    animation: slide-left 1s ease-in-out forwards;
  }
  
  .animate-slide-right {
    animation: slide-right 1s ease-in-out forwards;
  }
  .custom-checkbox {
    transform: scale(1.5); /* Adjust the scaling factor as needed */
  }

